{% extends 'base.html' %}

{% block title %}
    {{page_title}}

{% endblock title %}

{% block contents %}
<table class="table table-bordered">
    <thead class="table-secondary">
        <tr>
            <th>A. Nama Kelompok:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> PABW 7B2 BUAHNAGA</td>
        </tr>
    </tbody>
    <thead class="table-secondary">
        <tr>
            <th>B. Anggota Kelompok:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>191080200099 MUHAMMAD DICKI SETYAWAN</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>191080200145 BAGAS RISKI UTAMA</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>191080200179 MUH. FAHRI MAULANA</td>
        </tr>
    </tbody>
    <thead class="table-secondary">
        <tr>
            <th>C. Framework Pilihan:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Django (2)</td>
        </tr>
    </tbody>
    <thead class="table-secondary">
        <tr>
            <th>D. Alamat Repo:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://github.com/d1kise/buahnaga.github.io/tree/UTS-2" target="_blank"> https://github.com/d1kise/buahnaga.github.io/tree/UTS-2</a></td>
        </tr>
    </tbody>
</table>
{% endblock contents %}
